

<div class="row web-content1">
  <div class="col-lg-3 bg-info">
    <div>time</div>
    <div>search</div>
    <div>
      <div>
        <ul>
          <li *ngFor="let item of blogList"
              routerLinkActive="active">
            <a routerLink="./content/{{item.contentId}}">{{item.contentTitle}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9 bg-success">

    <router-outlet></router-outlet>

  </div>
</div>

<hr class="divider" />
<div class="row web-footer">

</div>
