

<div class="content-container">
  <div class="detail-span ">
    <div class="">
      <span><i class="fa fa-calendar-check-o"></i>&nbsp;{{updateTime | date:'yyyy-MM-dd HH:mm'}}</span>
      <span class="ml-3"><i class="fa fa-eye"></i>&nbsp;{{views}}</span>
      <span class="ml-3"><i class="fa fa-heart"></i>&nbsp;{{like}}</span>
    </div>
  </div>
  <div class="detail-content">
    <div class="detail-content-container">
      <markdown [data]="contentTxt"></markdown>
    </div>

  </div>
  <div class="detail-footer">
    <div class="footer-custom">
      <a mat-icon-button (click)="onLikeClick()" [disabled]="isLike"  class="icon-size2"><i class="fa fa-heart-o"></i></a>
      <a mat-icon-button (click)="onUnlikeClick()" [disabled]="isUnlike" class="icon-size2 ml-3"><i class="fa fa-thumbs-o-down"></i></a>
    </div>
  </div>
</div>
