

<div class="row web-content1">
  <div class="col-lg-3 bg-info">
    <div>time</div>
    <div>search</div>
    <div>
      <div>
        <ul>
          <li><a routerLink="content/11">dddd</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9 bg-success">
    <!--
    <div class="content-container">
      <div class="detail-span row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 footer-span">
          <span><i class="fa fa-calendar-check-o"></i>2018-04-04 14:55:32</span>
          <span><i class="fa fa-eye"></i>12312</span>
          <span><i class="fa fa-heart"></i>12123</span>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-content-container">
          <markdown [data]="testContent"></markdown>
        </div>

      </div>
      <div class="detail-footer">
        <div class="footer-custom">
          <a mat-icon-button><i class="fa fa-thumbs-o-up"></i></a>
          <a mat-icon-button><i class="fa fa-thumbs-o-down"></i></a>
        </div>
      </div>
    </div>
    -->
    <router-outlet></router-outlet>
  </div>
</div>

<hr class="divider" />
<div class="row web-footer">

</div>
