



<div class="row web-admin-content">
  <div class=" admin-header bg-info">
    <div><a class="navbar-brand" href="/home">Logo</a></div>
  </div>
  <div class=" admin-content">
    <div class="admin-content-menu col-lg-2 bg-success">
      <div>
        <ul class="list-unstyled">
          <li class="btn"><a routerLink="main">管理主页</a></li>
          <li class="btn"><a routerLink="category">分类管理</a></li>
          <li class="btn"><a routerLink="blog">博客管理</a></li>
          <li class="btn"><a routerLink="content">内容管理</a></li>
          <li class="btn"><a routerLink="saying">文字管理</a></li>
          <li class="btn"><a routerLink="user">用户管理</a></li>
          <li class="btn"><a routerLink="comment">评论管理</a></li>
          <li class="btn"><a routerLink="book">教程管理</a></li>
          <li class="btn"><a routerLink="article">教程内容</a></li>
        </ul>
      </div>
    </div>
    <div class="admin-content-main col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


