

<div>

  <div class="tool-bar">
    <div class="">
      <a mat-icon-button color="accent" title="新增">
        <mat-icon class="fa fa-plus icon-size1"></mat-icon>
      </a>
      <a mat-icon-button color="primary" title="编辑">
        <mat-icon class="fa fa-edit icon-size1"></mat-icon>
      </a>
      <a mat-icon-button color="warn" title="删除">
        <mat-icon class="fa fa-remove icon-size1"></mat-icon>
      </a>
    </div>
  </div>
  <hr class="divider" />
  <div class="">
    <div class="row">
      <div class="col-lg-3">
        <mat-form-field>
          <input matInput type="text" placeholder="搜索关键字" [(ngModel)]="value"/>
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field >
          <input matInput [matDatepicker]="dateStart"
                 placeholder="开始日期"
                 class=" input-width">
          <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
          <mat-datepicker #dateStart></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <div class="form-group form-inline">
          <input matInput [matDatepicker]="dateEnd"
                 placeholder="结束日期"
                 class="form-control input-width">
          <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
          <mat-datepicker #dateEnd></mat-datepicker>
        </div>
      </div>
      <div class="col-lg-3">
        <button mat-raised-button>Basic</button>
      </div>


    </div>
  </div>
  <hr class="divider" />
  <div class="admin-content-list">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>名称</th>
            <th>介绍</th>
            <th>类型</th>
            <th>是否禁用</th>
            <th>创建日期</th>
            <th>操作</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>修改/删除</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onPageChange($event)">
      </mat-paginator>


      <div>
        <div>当前页：{{pageNumber}}</div>
        <div>每页大小：{{pageSize}}</div>
      </div>
    </div>
  </div>

</div>
