





<div class="row user-web-content">

  <div class="col-lg-12">

    <div class="main-content">
      <mat-tab-group>
        <mat-tab label="英文">
          <div class="custom-tab-content">
            <p>Dear friends! My name is…Ah.It's better not to say it, because it is just an insignificant sign. but you can still call me zero.</p>
            <p>It is my great pleasure to introduce my personal blog (also known as this website) that finally meet you all. How should I say it, despite some difficulties in programming,even now, there are still many places that needed to be improved,I chose to release it . Its inadequacies are also a reflection of my current state of life.But, The good news is that we're all iterating,moving toward a nice state.</p>
            <p>This is the best of times, we enjoy the convenience of technology. Food and clothing have been greatly improved compared to the past, and the most important thing is that the cost of learning is lower than ever before, and the way of learning is more diversified. It's also the worst of times, and everything around us creates anxiety and anxiety for us all the time.The power of the individual is weak in this impetuous flood, but it is not irresistible, we just need to hold on to our original heart, not proud, not to go with the flow, and to clear the turbidity.</p>
            <p>In the end, we encourage each other "dream as a horse and live up to your dreams".</p>
          </div>
        </mat-tab>
        <mat-tab label="中文">
          <div class="custom-tab-content">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;朋友们，大家好！我的名字叫…。嗯，还是不说名字了，因为这是一个无关痛痒的代号，但是你们还是可以称呼我为零。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很高兴向大家介绍我的个人博客（也就是本站）终于和大家见面了。怎么说呢，中途虽然经历了一些困难，即便到了现在，她仍然有许多需要改进的地方，我还是选择把她上线了。她的不足之处同样一一映射着我如今的人生状态。但好消息是我们都在不断迭代，朝着一个美好的状态演进。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是最好的时代，我们享受着科技的便利。衣食住行相比以往的任何时候都得到了极大的改善，最重要的是学习的成本比以往任何时候都低，而学习的方式也更加多样化。这也是最坏的时代，周围的一切时时都在给我们制造焦虑，也不停的消费者我们的焦虑。个人的力量在这种浮躁的洪流之中显得微不足道，但并非不可抗拒，我们只需要坚守自己的初心、不骄不躁、不随波逐流，去浊扬清。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后，引一句话大家共勉，“以梦为马，不负韶华”。</p>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>


    <div class="web-footer web-footer-ext">
      <div class="web-footer-content">
        <div><span>Copyright&nbsp;&copy;&nbsp;2018&nbsp;-&nbsp;2018&nbsp;&nbsp;Dylan.All Rights Reserved.</span></div>
        <div><span>Powered by Dylan. Email:m.ydy@foxmail.com</span></div>
      </div>

    </div>

  </div>
</div>







