





<div class="row user-web-content">

  <div class="col-lg-12">

    <div class="user-main-content">
      <div class="bg-success">ddd</div>
      <div class="bg-danger">ddd</div>
      <div class="alert-success">ddd</div>
      <div class="alert-danger">ddd</div>

    </div>


    <div class="web-footer web-footer-ext">
      <div class="web-footer-content">
        <div><span>Copyright&nbsp;&copy;&nbsp;2018&nbsp;-&nbsp;2018&nbsp;&nbsp;Dylan.All Rights Reserved.</span></div>
        <div><span>Powered by Dylan. Email:m.ydy@foxmail.com</span></div>
      </div>

    </div>

  </div>
</div>







