
<section class="row home-main bg-info">
  <div class="home-content-brand">
    <h2>this is a title</h2>
    <p class="slogon">/* <span class="typed-quotes">a minimal markdown editor</span> */
    </p>
  </div>
  <div class="scroll-down-div">
    <a href="content1"><i class="fa fa-angle-down" ></i></a>
  </div>
</section>

<!--
<header class="navbar navbar-expand-sm bg-dark navbar-dark web-nav">
  <div class="">
    <a class="navbar-brand" href="/home">Logo</a>
  </div>
  <div class="web-home-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">首页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/blog">博客</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/saying">文字</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">个人简介</a>
      </li>
    </ul>
  </div>

</header>
-->

<section class="row home-content bg-primary">
  <div class="home-content-header">
    <h3 class="home-content-h3">身体和灵魂，总要有一个在路上</h3>
  </div>
  <div class="home-content-content">
    one blog
  </div>
</section>
<hr class="divider" />

<section class="row home-content bg-primary">
  <div class="home-content-header">
    <h3 class="home-content-h3">好看的皮囊千篇一律，有趣的灵魂万里挑一</h3>
  </div>
  <div class="home-content-content">list of saying</div>
</section>
<hr class="divider" />

<section class="row home-content-saying bg-primary">
  滚动名言
</section>
<hr class="divider" />

<footer class="row web-footer bg-secondary">footer</footer>
