

<header class="navbar navbar-expand-sm bg-dark navbar-dark web-nav">
  <div class="">
    <a class="navbar-brand" href="/home">Logo</a>
  </div>
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/main/blog">博客</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/saying">名言</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">个人简介</a>
      </li>
    </ul>
  </div>
</header>

<div class="row web-main-content">
  <div class="col-lg-3 main-left">
    <div class="row main-left-daily bg-success">
      <div class="daily-content">
        <span>
          生如夏花之绚烂，死如秋叶之静美.
          生如夏花之绚烂，死如秋叶之静美.
          生如夏花之绚烂，死如秋叶之静美.
        </span>
      </div>
      <div class="daily-author">
        <span>——泰戈尔</span>
      </div>
    </div>
    <div class="row main-left-date bg-primary">
      日期插件
    </div>
    <div class="row main-left-rank bg-info">
      浏览最多
    </div>
    <div class="row main-left-rank bg-dark">
      点赞最多
    </div>
    <div class="row main-left-rank bg-warning">
      评论最多
    </div>
  </div>
  <div class="col-lg-9 bg-primary bg-danger">
    bbb
  </div>
</div>
