
<section class="row home-main ">
  <div class="home-content-brand">

    <div class="home-content-first">
      <!--<span class="home-content-first-span">{{poemText}}</span>-->
      <ng-container *ngFor="let item of poemText">
        <p class="poem-p">{{item}}</p>
      </ng-container>
    </div>

  </div>
</section>


<section class="row home-content">
  <div class="home-content-header">
    <h3 class="home-content-h3">开源项目模块正在准备中</h3>
  </div>
  <div class="home-content-content">

  </div>
</section>
<hr class="divider" />

<section class="row home-content">
  <div class="home-content-header">
    <h3 class="home-content-h3">文字模块正在准备中</h3>
  </div>
  <div class="home-content-content"></div>
</section>
<hr class="divider" />

<section class="row home-content-saying ">
</section>


<div class="web-footer">
  <div class="web-footer-content">
    <div><span>Copyright&nbsp;&copy;&nbsp;2018&nbsp;-&nbsp;2018&nbsp;&nbsp;Dylan.All Rights Reserved.</span></div>
    <div><span>Powered by Dylan. Email:m.ydy@foxmail.com</span></div>
  </div>

</div>
