.home-main{
  height:100%;
  position: relative;
  /*z-index:20;*/
  text-align: center;
  padding-bottom: 8em;
  /*background-color: #fbfbfb;*/
  border-bottom: solid 1px #ddd;
}




.home-content-brand {
  position: absolute;
  width: 100%;
  top: 200px;
  min-height: 200px;
}

.home-content-first{
  display: block;
  margin-right: 10em;
  height: 20em;
  writing-mode: tb-rl;
}
.home-content-first-span{
  display: block;
  font-size: 2em;

}
.home-content-first,.home-content-first-span:hover{
  cursor: default;
}

/*.scroll-down-div {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*color: #4d4d4d;;*/
  /*!*cursor: pointer;*!*/
  /*height: 32px;*/
  /*font-size: 18px;*/
/*}*/

.home-content{
  height:90%;
}

.home-content-saying{
  height: 60%;
}

.home-content-header{
  width: 100%;
  height: 30%;
  padding-top: 9rem;
}
.home-content-content{
  width: 100%;
  height: 70%;
}
.home-content-h3{
  text-align: center;
}

.web-footer{
  margin-top: 2em;
  margin-bottom: 3em;
  border-top: 1px solid #ebebeb;
  /*box-shadow: 0 0 4px #888;*/
  /*height: 20%;*/
}
.web-footer-ext{
  margin-left: -15px;
  margin-right: -15px;
}

hr.divider {
  color: #ededed;
  border-top: 1px dashed #aaa;
}

.web-content{
  width: 100%;
  height: 100%;
  padding-top: 5.5em;
  margin-right: 0px;
  margin-left: 0px;

}

.web-content1{
  width: 100%;
  /*height: 100%;*/
  padding-top: 5.5em;
  margin-right: 0px;
  margin-left: 0px;

}


.main-left-list{
  height: 100%;
  display: block;
}

.main-content{
  /*padding: 1.2em;*/
  padding-left: 10em;
  padding-right: 10em;

}
.web-footer-content{
  margin-top: 1em;
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-ul li{
  /*border-bottom: 0.1em dashed #d3d3d3;*/
  border-top: 0.1em dashed #d3d3d3;
  padding-top: 1em;
  padding-bottom: 1em;
}
/*li:hover{*/
  /*border-color: rgba(255, 140, 0, 0.8);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 140, 0, 0.6);*/
/*}*/

.li-content-head{
  font-size: 1.5em;
}
.li-content-head a:hover{
  cursor: pointer;
}
.head-a{
  position: relative;
  text-decoration: none;
}
.head-a:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: #000;
  transform: scale(0);
  transition: all 0.3s;
}
.head-a:hover:before{
  transform: scale(1);
}

.li-content-desc{
  margin-top: 0.8em;

}
.li-content-footer{
  /*margin-left: 50em;*/
  font-size: 0.8em;
}


.main-right{
  padding-left: 1em;
  padding-right: 1em;
}

.main-right-daily{
  height: 20%;
  display: flex;
  flex-direction: column;
}

.daily-content{
  display: flex;
}
.daily-author{
  display: flex;
  justify-content: flex-end;
}

.main-right-rank{
  height: 40%;
  display: flex;
  flex-direction: column;
}


.content-container{

}

.detail-span{
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid #d3d3d3;
  display: flex;
  justify-content: flex-end;
}

.detail-content{

}
.detail-content-container{
  padding-top: 1em;
  padding-bottom: 1em;

}

.detail-footer{
  border-top: 0.01em solid #d3d3d3;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

/*.footer-custom{*/
  /*margin: 0 auto;*/
/*}*/

.main-saying{
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ebebeb;
  font-style: italic;
  display: flex;
  flex-direction: column;
}
.main-saying-author{
  display: flex;
  justify-content: flex-end;
}
.main-paginator{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ebebeb;
}

.li-footer-custom{
  display: flex;
  justify-content: flex-end;
}

.relate-blog-head{
  font-style: italic;
  font-size: 1.5em;
  border-bottom: 1px solid #ebebeb;
}
.relate-blog-list{
  margin-top: 0.5em;
}
.relate-blog-list li{
  margin-top: 0.8em;
}


.icon-size2{
  font-size: 1em;
}

.saying-list li{
  border-bottom: 1px solid #ebebeb;
}
.li-saying-content{
  margin-top: 1em;
  margin-bottom: 0.8em;
  font-size: 1.5em;
}
.li-saying-footer{

  margin-bottom: 1em;
}
.saying-button{
  display: flex;
  justify-content: center;
}

.form-custom{
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.form-custom-label{
  display: flex;
  /*align-items: flex-start;*/
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.form-custom-content{
  margin-bottom: 0.5em;
}

.form-custom-width{
  width: 100%;
}
.form-custom-span{
  display: flex;
  justify-content: flex-end;
}

.modal-button{
  border-top: 1px solid #ebebeb;
}

.web-question{
  display: block;
  font-size: 1.8em;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 2px solid #a94442; /* red */
}

