.home-main{
  height:100%;
  position: relative;
  z-index:20;
  text-align: center;
  padding-bottom: 8em;
  background-color: #fbfbfb;
  border-bottom: solid 1px #ddd;
}


.home-content-brand {
  position: absolute;
  width: 100%;
  top: 200px;
  min-height: 200px;
}
.scroll-down-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #4d4d4d;;
  /*cursor: pointer;*/
  height: 32px;
  font-size: 18px;
}

.home-content{
  height:90%;
}

.home-content-saying{
  height: 60%;
}

.home-content-header{
  width: 100%;
  height: 30%;
  padding-top: 9rem;
}
.home-content-content{
  width: 100%;
  height: 70%;
}
.home-content-h3{
  text-align: center;
}

.web-footer{
  height: 20%;
}
hr.divider {
  color: #ededed;
  border-top: 1px dashed #aaa;
}

.web-content{
  width: 100%;
  height: 100%;
  padding-top: 5.5em;
  margin-right: 0px;
  margin-left: 0px;

}


.main-left-daily{
  height: 20%;
  display: flex;
  flex-direction: column;
}
.daily-content{
  display: flex;
}
.daily-author{
  display: flex;
  justify-content: flex-end;
}

.main-left-date{
  height: 30%;
}
.main-left-rank{
  height: 40%;
  display: flex;
  flex-direction: column;
}

.main-right-head{
  height: 10%;
}
.main-right-form{
  height: 10%;
}
.main-right-list{
  height: 110%;
}
